@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: Outfit, sans-serif;
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}

[data-flux-header]>div {
    @apply !max-w-4xl !mx-auto;
}

[data-flux-separator] {
    @apply bg-zinc-800/10 dark:bg-white/20;
}

@layer utilities {

    /* For Remove Date Icon */
    input[type="date"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}